body{
    margin: 0;
    padding: 0;
    min-width: 1132px;
    max-width: 1440px;
    font: 14px/160% Microsoft Yahei,\\5B8B\4F53,Tahoma,sans-serif!important;
}
.container {
    width: 100%!important;
    padding: 0!important;
    margin: 0!important;
}
.header{
    padding: 0 15px 0 24px;
    clear: both;
    min-height: 40px;
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1001;
}
.header .logo{
    display: inline-block;
    margin: 9px 15px 0 0;
}
.header .logo>img{display: block}
.navlist{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlist li{
    display: inline-block;
    float: left;
    position: relative;
}
.navlist li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    line-height: 40px;
}
.navlist li a:hover{
    text-decoration: underline;
}
.navlist li:nth-child(4):hover{
    background: #016fae;
}
.navlist li:nth-child(4) a:hover{
    text-decoration: none;
}
.caret{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
    color: #fff;
}
.dropdown-list{
    position: absolute;
    left: 0;
    top: 40px;
    background: #016fae;
    width: 125px;
    padding: 0;
}
.dropdown-list li,.dropdown-list li a{
    width: 100%;
    transition: all ease .5s;
}
.dropdown-list li a:hover{
    background: #025c90;
    text-decoration: none;
}
.searchbar{
    position: relative;
    padding: 0 12px;
    border-radius: 15px;
    background-color: #016fae;
    margin: 6px 15px 0;
}
.searchbar-active{
    background: #FFFFFF;
}
.searchbar-active .search-flag{
    color: #767676;
}
.search{
    border: none;
    font-size: 12px;
    color: #fff;
    background: transparent;
    height: 30px;
    line-height: 1.5;
    width: 25px;
    transition: width ease 0.5s;
}
.search:focus{
    border: none;
}
.searchinput-open{
    width: 200px;
    background: #FFFFFF;
}
.searchdiv-open .search{
    color: #222222;
}
.searchdiv-open .search-flag{
    color: #003399;
}
.search-flag{
    right: 0;
    top: 0!important;
    cursor: pointer;
    border: none;
    padding: 8px 6px;
    width: 25px;
    height: 30px;
    color: #FFFFFF;
    position: absolute;
}
.experienceBox{
    float: right;
    margin: 6px 15px 0;
    border-radius: 15px;
    background-color: #016fae;
    width: 90px;
    height: 30px;
    padding: 0 10px 0 14px;
    line-height: 30px;
}
.experienceBox a{
    color: #FFFFFF;
}
.experienceBox a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.right-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.right-menu li{
    display: inline-block;
}
.right-menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    text-decoration: none;
}
.right-menu li a:hover{
    text-decoration: underline;
}

/*  main.html*/
.slideBox{
    list-style: none;
    width: 100%;
    overflow: hidden;
}
.slideBox li{
    display: inline-block;
}
.slideBox .slick-slide .imgDiv{
    background: url("../images/bg1.jpg")no-repeat;
    height: 494px;
    background-position: top;
    position: relative;
    overflow: hidden;
}
.imgDiv .content{
    margin-left: 20%;
    position: relative;
    display: table;
    width: 400px;
    height: 494px;
}
.content .contentBox{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.text{
    position: absolute;
    top: 202px;
    left: 4px;
    font-size: 18px;
    color: #fff;
}
.title{
    position: absolute;
    left: 0;
    top: 146px;
    display: block;
}
.makebook{
    position: relative;
    left: 110px;
    top: 64px;
    border: 1px solid hsla(0,0%,100%,.43);
    color: hsla(0,0%,100%,.8);
    line-height: 34px;
    width: 150px;
    background: 0 0;
    font-size: 18px;
    border-radius: 0;
    padding: 10px 48px;
}
.makebook:hover{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.show-guide{
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    bottom: 72px;
    left: 138px;
    margin: 24px 0;
}
.show-guide:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.bookContainer{
    position: relative;
    text-align: center;
    background: url('../images/bg2.png');
    height: 580px;
}
.bookHome{
    width: 1000px;
    margin: 0 auto;
}
.home-bookshelf-title{
    font-size: 36px;
    color: #0269a5;
    padding: 74px 0 27px;
    font-weight: 500;
    margin: 0;
}
.home-bookshelf-action{
    display: inline-block;
    margin-bottom: 66px;
    text-align: center;
    color: #0269a5;
    font-size: 18px;
    opacity: .8;
    cursor: pointer;
}
.guide-play{
    vertical-align: middle;
}
.home-bookshelf-action>span{
    margin-left: 10px;
}
.home-bookshelf-action>span:hover{
    text-decoration: underline;
}
.book-ul{
    list-style: none;
    padding: 0;
}
.book-li{
    display: inline-block;
    position: relative;
}
.book-li:not(:first-child){
    margin-left: 26px;
}
.book-img{
    border-radius: 8px;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    width: 176px;
    height: 240px;
    vertical-align: middle;
}
.bookshelf-item-mask{
    position: absolute;
    background: url('../images/bookbg_content.png')no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.bookshelf-item-more{
    top: 500px;
    transition: all ease .7s;
    position: absolute;
    height: 100%;
    padding: 24px 16px 0 20px;
    box-sizing: border-box;
}
.bookshelf-item-more-show{
    background-color: rgba(0,0,0,.6);
    top: 0;
}
.book-info{
    color: #FFFFFF;
    font-size: 14px;
}
.book-outline{
    border: 1px solid hsla(0,0%,100%,.8);
    color: hsla(0,0%,100%,.8);
    padding: 6px 24px;
    border-radius: 3px;
}
.book-outline:hover{
    text-decoration: none;
    color: hsla(0,0%,100%,.8);
    border-color: #FFFFFF;
}
.book-title{
    position: absolute;
    top: 240px;
    width: 100%;
    color: #666;
    margin-top: 18px;
    display: block;
    font-size: 16px;
}
.book-title:hover{
    color: #666;
}
.feature-bg{
    background: url('../images/featurebg.jpg')no-repeat bottom;
    height: 658px;
}
.features-container{
    width: 1000px;
    margin: 0 auto;
}
.feature-ul{
    list-style: none;
    padding: 56px 0 0 52px;
    display: inline-block;
}
.feature-ul li{
    position: relative;
    text-align: center;
    float: left;
}
.feature-ul li:not(:first-child){
    margin-left: 170px;
}
.feature-ul li p{
    font-size: 24px;
    color: #2a6dab;
}
.icon-svg{
    width: 64px;
    height: 79px;
    padding-bottom: 15px;
}
.feature-content{
    text-align: center;
    position: absolute;
    top: 118px;
    display: none;
}
.detail{
    display: block;
}
.arrow{
    left: 28px;
    position: absolute;
}
.feature_img{
    left: -100px;
    position: absolute;
}
.feature-content .title{
    position: absolute;
    font-size: 36px;
    font-family: fantasy;
    text-align: left;
}
.feature-content .title_f{
    position: absolute;
    float: left;
    font-size: 18px;
    text-align: left;
    float: left;
}
.f1 .title{
    top: 168px;
    left: 473px;
    width: 500px;
    color: #fff;
}
.f1 .title_f{
    top: 230px;
    left: 480px;
    width: 500px;
    color: #fff;
}
.f2 .feature_img{
    left: 250px;
}
.price-list{
    top: 256px;
    left: -272px;
    padding: 0 0 0 18px;
    position: absolute;
}
.price-list li.price-list-li{
    text-align: left;
    color: #2a6dab;
    float: none;
    list-style: disc;
    margin-left: 0;
    margin-bottom: 28px;
    font-size: 18px;
}
.f2 .title{
    top: 124px;
    left: -272px;
    float: left;
}
.f2 .title_f{
    top: 205px;
    left: -272px;
    width: 400px;
}
.f3 .feature_img{
    top: 164px;
    left: -549px;
    position: absolute;
}
.f3 .feature_img2{
    top: 18px;
    left: -563px;
    position: absolute;
}
.f3 .title{
    width: 290px;
    top: 202px;
    left: -30px;
}
.f3 .title_f{
    top: 270px;
    left: -30px;
    color: #fff;
    width: 290px;
}
.f4 .feature_img{
    left: -334px;
    position: absolute;
}
.f4 .title{
    top: 146px;
    left: -806px;
}
.f4 .title_f{
    top: 210px;
    left: -800px;
    line-height: 50px;
    width: 400px;
}
.f4 .title_f p{
    font-size: 18px;
}
.showPContainer{
    background: url("../images/showphotobg.jpg")no-repeat;
    height: 713px;
}
.showPcMain{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.showPcMain .titleH{
    margin-top: 0;
    padding-top: 66px;
    margin-bottom: 0;
    color: #0269a5;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1;
}
.showPcMain .titleP{
    margin-top: 28px;
    font-size: 18px;
    color: rgba(2,105,165,.8);
}
.showPDiv{
    width: 100%;
    margin-top: 36px;
}
.showPDiv .ft-col-md-4{
    width: 333px;
    height: 246px;
    vertical-align: middle;
    color: #333;
    border: 0;
    display: inline-block;
    position: relative;
}
.showPc-introduceCon{
    position: relative;
    z-index: 999;
    width: 334px;
    height: 246px;
    background-color: #b5dafb;
    opacity: .7;
    transition: opacity ease .7s;
    display: none;
}
.showPDiv .ft-col-md-4:nth-child(4) .showPc-introduceCon,
.showPDiv .ft-col-md-4:nth-child(5) .showPc-introduceCon,
.showPDiv .ft-col-md-4:nth-child(6) .showPc-introduceCon{
    top:-492px;
}
.showPc-introduceCon:hover{
    opacity: 1;
}
.showPic-active .showPc-introduceCon{
    display: block;
}
.showPc-arrow{
    margin: auto;
    border-bottom: 12px solid #b5dafb;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    width: 0;
    height: 0;
    z-index: 999;
    position: relative;
    top: -12px;
}
.showPDiv .ft-col-md-4:nth-child(4) .showPc-arrow,
.showPDiv .ft-col-md-4:nth-child(5) .showPc-arrow,
.showPDiv .ft-col-md-4:nth-child(6) .showPc-arrow{
    border-bottom: none;
    border-top: 12px solid #b5dafb;
    top: 246px;
}
.showP-introduce{
    padding: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.picLook{
    padding: 6px 12px;
    width: 120px;
    border: 1px solid rgba(42,109,171,.88);
    font-size: 18px;
    color: rgba(42,109,171,.88);
    background: transparent;
    font-weight: 400;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 60px);
}
.picLook:hover{
    text-decoration: none;
    border-color: #003399;
}
.contentArea{
    width: 1000px;
    margin: 0 auto;
    margin-top: 54px;
}
.area-list,.info-ul{
    list-style: none;
}
.area-list{
    padding: 0;
}
.area-list>li{
    display: inline-block;
    padding: 16px;
}
.area-list>li:not(:first-child){
    border-left: 1px solid #dfdfdf;
}
.info-ul{
    padding: 0;
}
.area-list-li{
    width: 219px;
}
.area-list-li:last-child{
    width: auto;
}
.info-p{
    display: inline-block;
    color: #333;
    font-size: 18px;
    margin: 10px 0 15px;
}
.area-list li{
    line-height: 28px;
}
.area-list a{
    color: #222;
    text-decoration: none;
}
.area-list a:hover{
    color: #0269a5;
    text-decoration: none;
}
.info-li .qqtalk{
    padding: 4px 8px;
    background: #2196F3;
    border-radius: 6px;
    margin-left: 8px;
    color: #fff;
}
.info-li .suggest{
    color: #13a0f3;
}
.info-li .suggest:hover{
    color: #13a0f3;
    text-decoration: underline;
}
.footer-row{
    text-align: center;
    margin: 50px auto;
}
.footer-row a,.footer-row p{
    font-size: 12px;
    margin: 0;
    color: #666;
}
.footer-row a,.footer-row a:hover{
    color: #666;
    text-decoration: none;
}
.flag-suggest,.flag-up{

}