<div class="slideBox">
    <div class="slick-slide">
        <div class="imgDiv bg1 slide-active">
            <div class="content">
                <div class="contentBox">
                    <img class="title" src="/images/slider/bg1_title.png" />
                    <p class="text">上传你的图片和文字,体验自动排版,一键汇聚成书!</p>
                    <a href="/" class="makebook">开始做书</a>
                    <a href="/" class="show-guide">查看教程>></a>
                </div>
            </div>
        </div>
        <div class="imgDiv bg2">
            <div class="content">
                <div class="contentBox">
                    <img class="title" src="/images/slider/bg1_title.png" />
                    <p class="text">上传你的图片和文字,体验自动排版,一键汇聚成书!</p>
                    <a href="/" class="makebook">开始做书</a>
                    <a href="/" class="show-guide">查看教程>></a>
                </div>
            </div>
        </div>
        <div class="imgDiv bg3">
            <div class="content">
                <div class="contentBox">
                    <img class="title" src="/images/slider/bg1_title.png" />
                    <p class="text">上传你的图片和文字,体验自动排版,一键汇聚成书!</p>
                    <a href="/" class="makebook">开始做书</a>
                    <a href="/" class="show-guide">查看教程>></a>
                </div>
            </div>
        </div>
        <div class="imgDiv bg4">
            <div class="content">
                <div class="contentBox">
                    <img class="title" src="/images/slider/bg1_title.png" />
                    <p class="text">上传你的图片和文字,体验自动排版,一键汇聚成书!</p>
                    <a href="/" class="makebook">开始做书</a>
                    <a href="/" class="show-guide">查看教程>></a>
                </div>
            </div>
        </div>
        <div class="imgDiv bg5">
            <div class="content">
                <div class="contentBox">
                    <img class="title" src="/images/slider/bg1_title.png" />
                    <p class="text">上传你的图片和文字,体验自动排版,一键汇聚成书!</p>
                    <a href="/" class="makebook">开始做书</a>
                    <a href="/" class="show-guide">查看教程>></a>
                </div>
            </div>
        </div>

        <ul class="sliderC-ul">
            <li><span class="slider-circle circle-active" ng-click="changeSlider($event)"></span></li>
            <li><span class="slider-circle" ng-click="changeSlider($event)"></span></li>
            <li><span class="slider-circle" ng-click="changeSlider($event)"></span></li>
            <li><span class="slider-circle" ng-click="changeSlider($event)"></span></li>
            <li><span class="slider-circle" ng-click="changeSlider($event)"></span></li>
        </ul>
    </div>
</div>